[submodule "apps/dao-contracts/lib/openzeppelin-contracts-upgradeable"]
	path = apps/dao-contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
